.body{
  background-color: black;
}
.page{
  max-width: 1280px;
  margin: 0 auto;
}
.header{
  margin-top: 45px;
}
.header__line{
  margin-top: 41px;
  opacity: 0.7;
  border: 1px solid #545454;
}
.content{
  margin: 0 auto;
  max-width: 880px;
}
.profile{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.profile__avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile__text{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  align-self: center;
}
.profile__title{
  margin: 0;
}
.profile__subtitle{
  margin: 0;
  margin-top: 16px;
}
.profile__info{
  color: white;
  display: flex;
  flex-direction: row;
}
.profile__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__redaction{
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
}
.profile__add{
  width: 150px;
  height: 50px;
}
.elements{
  width: 880px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}
.element{
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 282px;
  border-radius: 10px;
}
.element__image{
  width: 282px;
  height: 282px;
}
.element__heart{
  width: 22px;
  height: 19px;
}
.footer{
  margin: 0 auto;
  margin-top: 66px;
  max-width: 880px;
}
.footer__text{
  color: white;
}