.profile__redaction{
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  margin-left: 22px;
  margin-top: 36px;
  background-color: black;
}
.profile__redaction:hover{
  cursor: pointer;
  opacity: 0.6;
}